* {
    outline: 1px solid #f00;
}


.header {
    background: #dbe4a9;
    line-height: 100px;
}

.header .container {
    width: 1200px;
    margin: 0 auto;
}

.header nav {
    display: flex;
}

.header nav>* {
    flex: 1;
}

.header nav>ul {
    display: flex;
    gap: 40px;
}

.header h1 {
    text-align: center;
}

.header nav>ul.service {
    justify-content: flex-end;
}

.header nav>ul>a {
    text-align: center;
}