@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body{
    font-family: 'Noto Sans KR', sans-serif;
    /* 폰트가 홀수일때 가독성이 좋다
    14가 최악 21썼음*/
}

#event {
    padding: 100px 0;
    text-align: center;
}

#event i{
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}


#event h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

#event h2::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 1px;
    background: #f00;   
    margin: 0 10px; 
    vertical-align: middle;
}

#event h2::after {
    content: "";
    display: inline-block;
    width: 150px;
    height: 1px;
    background: #f00;    
    margin: 0 10px; 
    vertical-align: middle;
}

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.4;
}

#event .container {
    display: flex;

    /* 양 바깥제외, 사이만 관여
    갭은 30이 거의 표준
    그러나 익스플로러에선 갭이 안돌아감 */
    gap: 30px;

    width: 1200px;
    margin: 0 auto;
}

#event img {
    max-width: 100%;
    /* 100%는 부모에게 상속받은 값 */

    transition: 0.5s;
}

#event figure {
    /* 1분 코딩 플렉스 */
    flex: 1;

    overflow: hidden;
    position: relative;
    /* 기준이 된다 */
}

#event .container figure:hover img {
    /* 트랜스폼은 박스를 변형시키지 않는다
    즉, 레이아웃은 동일 */
    transform: scale(2);
}

#event figure a {
    position: absolute;

    top: -40px;
    /* 피규어가 기준점이 되고 
    오버플로우가 생겨서 사라짐 */

    left: 0;
    padding: 10px 30px;

    background: rgb(5, 150, 142);
    color: #fff;
}

#event figure:hover a {
    top: 0;
    transition: 0.5s;
}


/* 아무 내용이 없는 박스 만드는것은 웹표준에 어긋남 */
