/* 포지션 - 디스플레이- 와이드 */


.content {
    padding: 100px 0;
}

.content .container {
    display: flex;
    gap: 30px;
     /*갭은 인터넷익스플로러에서 안먹힘  */
    width: 1200px;
    margin: 0 auto;
}

.content .container figure {
    flex: 1;
   
}

.content img {
    width: 100%;
    margin: 0 0 20px 0;
}

.content strong {
    display: block;
    font-size: 17px;
    font-weight: 700;
    /* 스트롱은 인라인, 인라인은 마진이 안먹음/블록은 오케이  */
    margin: 0 0 10px 0;
}

.content p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.25;
}