@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$lineColor : #333;



html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    
}

.FP {
    // color: $lineColor;
    background-image: url(../public/img/bg01.png);

    .section {        

        &.active {
            // font-size: 10rem;
            // transition: 1s 1s;
        }
    }

    .inner {
        position: relative;
        height: 100vh;

        .title {
            position: absolute;
            color: #f7f8f9;
            font-size: 200px;
            font-weight: 400;
            font-family: 'Shrikhand', cursive;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .inside {
            position: absolute;
            width: 1500px; 
            height: 830px; 
            background: #FFBECD; 
            border: 2px solid $lineColor; 
            border-radius: 20px;  
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
    
            .upper {
                position: relative; 
                height: 40px; 
                border-bottom: 2px solid $lineColor;
    
                .dot { 
                    position: absolute; 
                    width: 18px; 
                    height: 18px; 
                    border-radius: 50%; 
                    background-color: #3CB264; 
                    left: 5%; top: 30% 
                }
    
                .dot::before { 
                    content: ""; 
                    position: absolute; 
                    width: 18px; 
                    height: 18px; 
                    border-radius: 50%; 
                    background-color: #F13A3A; 
                    left: -50px; 
                }
    
                .dot::after { 
                    content: ""; 
                    position: absolute; 
                    width: 18px; height: 18px; 
                    border-radius: 50%; 
                    background-color: #FCD54A; 
                    right: 25px; 
                }
            }
        }
    }

    .gnb {
        position: fixed;
        top: 50%;
        right: 5rem;
        transform: translateY(-50%);
        width: 6rem;
        z-index: 999;

        li {
            font-size: 0;
            position: relative;
            height: 2.5rem;

            a {
                display: block;
                height: 2rem;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50%;
                    height: 10px;
                    border-radius: 50px;
                    background: #f7f8f9;
                    transition: width 0.5s
                }
            }
        }

        li.on {
            a {
                &::after {
                    width: 100%;
                }
            }
        }
    }

}

.cover {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    height: 100vh; 
    background-image: url(../public/img/bg02.png); 
    color: #fff; 
    z-index: 999;

    &.on { display: block; }

    .inside {
        position: absolute;
        width: 1500px; 
        height: 830px; 
        background: #F3CBFF; 
        border: 2px solid $lineColor; 
        border-radius: 20px;  
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);

        .upper {
            position: relative; 
            height: 40px; 
            border-bottom: 2px solid $lineColor;

            .dot { 
                position: absolute; 
                width: 18px; 
                height: 18px; 
                border-radius: 50%; 
                background-color: #3CB264; 
                left: 5%; top: 30% 
            }

            .dot::before { 
                content: ""; 
                position: absolute; 
                width: 18px; 
                height: 18px; 
                border-radius: 50%; 
                background-color: #F13A3A; 
                left: -50px; 
            }

            .dot::after { 
                content: ""; 
                position: absolute; 
                width: 18px; height: 18px; 
                border-radius: 50%; 
                background-color: #FCD54A; 
                right: 25px; 
            }
        }
    }

    .co_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        font-weight: 700;
       
        text-align: center;

        li {
            margin: 0 0 45px 0;

            a {font-family: 'GmarketSansMedium';}
        }
    }
}





.header {
    position: fixed;
    top: 20rem;
    left: 50%;
    z-index: 1000;
}



.cover_open {
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 1000;
    font-size: 0;
    width: 6rem;
    height: 6rem;
    background: transparent;

    &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 3px;
        right: 3px;
        height: 3px;
        background: #f7f8f9;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 3px;
        right: 3px;
        height: 3px;
        background: #f7f8f9;
    }

    span {
        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 0.5px); 
            left: 3px;
            right: 3px;
            height: 3px;
            background: #f7f8f9;
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 0.5px);
            left: 3px;
            right: 3px;
            height: 3px;
            background: #f7f8f9;
        }
    }
}

.cover_open.on {

    &::before {
        display: none;
    }

    &::after {
        display: none;
    }

    span {
        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

}